# Geo-Lab : Geospacial data visualization

In [1]:
import pandas as pd
# read the data

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
2666979,LION RETAIL CONSULTING LTD,12300583,NaN,NaN,151 WEST GREEN ROAD,NaN,LONDON,NaN,ENGLAND,N15 5EA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/11/2022,03/11/2021
4368416,TEACHING ENTREPRENEURS LTD,11555084,NaN,NaN,"5 NORTH ST, HAILSHAM",NORTH STREET,HAILSHAM,NaN,UNITED KINGDOM,BN27 1DQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/09/2022,05/09/2021
2409340,JTS ELECTRICAL LTD,12927047,NaN,NaN,DORFOLD DAIRY HOUSE DIG LANE,ACTON,NANTWICH,NaN,ENGLAND,CW5 8PB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2021,NaN
1405515,EASTERN INDUSTRIAL CLADDING LTD,03215353,NaN,NaN,UNIT A,SAINT PETERS LANE,HOVETON,NORFOLK,NaN,NR12 8RL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/02/2022,29/01/2021
3968890,SECURTECH IT LTD,SC710181,NaN,NaN,272 BATH STREET,NaN,GLASGOW,NaN,SCOTLAND,G2 4JR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/10/2022,NaN

# Result: Show all companies' adreess on the map

## Think about your process 
- Rename Column name? 
- remove unnecessary columns?
- choose columns you need  ?
- need to add a new column?
- what libraries to use? (e.g. plotly)